In [3]:
import pandas as pd
import os
from pathlib import Path

In [5]:
# get parent directory using pathlib
parent_dir = Path(os.getcwd())

In [5]:
# remove dollar signs and commas
def clean_numeric_str(curr_str):
    if isinstance(curr_str, str):
        return(curr_str.replace('$', '').replace(',', '').replace('%', ''))
    return(curr_str)

In [24]:
# rental csv is a kaggle dataset available here
# https://www.kaggle.com/rajacsp/toronto-apartment-price
rental_csv = os.path.join(parent_dir, 'Resources', 'Toronto_apartment_rentals_2018.csv')
rental_df = pd.read_csv(rental_csv, thousands=',')

# clean up currency data types
rental_df['Price'] = rental_df['Price'].apply(clean_numeric_str).astype('float')

# check data types
#rental_df.dtypes

# see header
#rental_df.head()

# DO NOT USE THIS DATASET... NOT ENOUGH TORONTO DATA POINTS, NO SAMPLING METHOD PROVIDED. NOT VERIFIED INFORMATION.

In [28]:
# 2016 census data by Toronto neighbourhood available in the City of Toronto Open Data Portal
# https://open.toronto.ca/dataset/neighbourhood-profiles/
census_csv = os.path.join(parent_dir, 'Resources', 'neighbourhoods-profiles-2016-csv-transposed.csv')
census_df = pd.read_csv(census_csv)

# clean up numeric data types
for column in census_df:
    try:
        census_df[column] = census_df[column].apply(clean_numeric_str).astype('float')
    except:
        continue
        
census_df

,Neighbourhood,Neighbourhood Number,TSNS2020 Designation,DIM0001,DIM0002,DIM0003,DIM0004,DIM0005,DIM0006,DIM0007,...,DIM2372,DIM2373,DIM2374,DIM2375,DIM2376,DIM2377,DIM2378,DIM2379,DIM2380,DIM2381
0,City of Toronto,NaN,NaN,2731571.0,2615060.0,4.5,1179057.0,1112929.0,4334.0,630.20,...,59945.0,2556120.0,1516110.0,1040015.0,639060.0,400950.0,184120.0,141135.0,42985.0,216835.0
1,Agincourt North,129.0,No Designation,29113.0,30279.0,-3.9,9371.0,9120.0,3929.0,7.41,...,605.0,27490.0,18865.0,8610.0,5445.0,3170.0,880.0,735.0,135.0,2280.0
2,Agincourt South-Malvern West,128.0,No Designation,23757.0,21988.0,8.0,8535.0,8136.0,3034.0,7.83,...,490.0,22325.0,13565.0,8775.0,5610.0,3145.0,980.0,760.0,220.0,2170.0
3,Alderwood,20.0,No Designation,12054.0,11904.0,1.3,4732.0,4616.0,2435.0,4.95,...,70.0,11370.0,8235.0,3130.0,2200.0,925.0,680.0,615.0,70.0,245.0
4,Annex,95.0,No Designation,30526.0,29177.0,4.6,18109.0,15934.0,10863.0,2.81,...,835.0,27715.0,12980.0,14735.0,8340.0,6390.0,3930.0,2630.0,1310.0,2460.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,Wychwood,94.0,No Designation,14349.0,13986.0,2.6,6185.0,5887.0,8541.0,1.68,...,225.0,12630.0,7930.0,4700.0,3355.0,1350.0,780.0,570.0,210.0,575.0
137,Yonge-Eglinton,100.0,No Designation,11817.0,10578.0,11.7,6103.0,5676.0,7162.0,1.65,...,325.0,11230.0,5785.0,5450.0,3020.0,2425.0,1260.0,970.0,290.0,1160.0
138,Yonge-St.Clair,97.0,No Designation,12528.0,11652.0,7.5,7475.0,7012.0,10708.0,1.17,...,265.0,11865.0,5660.0,6195.0,3895.0,2310.0,1355.0,1025.0,325.0,955.0
139,York University Heights,27.0,NIA,27593.0,27713.0,-0.4,11051.0,10170.0,2086.0,13.23,...,680.0,26110.0,14720.0,11400.0,6435.0,4965.0,1700.0,1490.0,195.0,3285.0
140,Yorkdale-Glen Park,31.0,Emerging Neighbourhood,14804.0,14687.0,0.8,5847.0,5344.0,2451.0,6.04,...,140.0,13420.0,9125.0,4290.0,2940.0,1345.0,580.0,445.0,135.0,775.0

In [6]:
houseprice_csv = os.path.join(parent_dir, 'Resources', 'wellbeing-toronto-housing.csv')
houseprice_df = pd.read_csv(houseprice_csv)
houseprice_df

,Neighbourhood,Neighbourhood Id,Home Prices,Mid-Century Highrise Households,Mid-Century Highrise Population,Percent Mid-Century Highrise Households,Percent Mid-Century Highrise Population,Rent Bank Applicants,Social Housing Turnover,Social Housing Units,Social Housing Waiting List
0,West Humber-Clairville,1,317508,690,1810,6.8,5.3,38,0.312500,952,557
1,Mount Olive-Silverstone-Jamestown,2,251119,4110,13395,42.9,40.9,41,7.000000,1146,1049
2,Thistletown-Beaumond Heights,3,414216,430,1260,13.4,12.4,7,1.333333,447,270
3,Rexdale-Kipling,4,392271,600,1050,15.2,10.0,19,4.200000,432,186
4,Elms-Old Rexdale,5,233832,870,2305,27.3,24.1,14,1.000000,463,239
...,...,...,...,...,...,...,...,...,...,...,...
135,West Hill,136,308229,3010,5880,31.1,22.1,22,8.400000,2089,725
136,Woburn,137,316584,5090,14870,27.8,27.9,26,4.911765,2660,1306
137,Eglinton East,138,274020,3935,10105,48.8,44.3,33,2.588235,865,688
138,Scarborough Village,139,356096,2905,7860,49.2,47.3,22,4.400000,922,683
139,Guildwood,140,444309,605,1020,15.3,10.4,3,0.000000,0,62

In [15]:
sample_df = census_df[['Neighbourhood Number','Neighbourhood']].drop(0)
sample_df['Neighbourhood Number'] = sample_df['Neighbourhood Number'].astype('int')
sample_df

     Neighbourhood Number                 Neighbourhood
1                     129               Agincourt North
2                     128  Agincourt South-Malvern West
3                      20                     Alderwood
4                      95                         Annex
5                      42             Banbury-Don Mills
..                    ...                           ...
136                    94                      Wychwood
137                   100                Yonge-Eglinton
138                    97                Yonge-St.Clair
139                    27       York University Heights
140                    31            Yorkdale-Glen Park

[140 rows x 2 columns]

In [29]:
subset_df = census_df[['DIM0001',
'DIM0004',
'DIM0005',
'DIM0006',
'DIM0007',
'DIM0008',
'DIM0009',
'DIM0010',
'DIM0011',
'DIM0012',
'DIM0013',
'DIM0014',
'DIM0015',
'DIM0016',
'DIM0017',
'DIM0018',
'DIM0019',
'DIM0020',
'DIM0021',
'DIM0022',
'DIM0023',
'DIM0024',
'DIM0025',
'DIM0026',
'DIM0027',
'DIM0028',
'DIM0029',
'DIM0030',
'DIM0031',
'DIM0032',
'DIM0033',
'DIM0034',
'DIM0035',
'DIM0036',
'DIM0037',
'DIM0038',
'DIM0039',
'DIM0040',
'DIM0041',
'DIM0042',
'DIM0043',
'DIM0044',
'DIM0045',
'DIM0046',
'DIM0047',
'DIM0048',
'DIM0049',
'DIM0050',
'DIM0051',
'DIM0052',
'DIM0053',
'DIM0054',
'DIM0055',
'DIM0056',
'DIM0057',
'DIM0058',
'DIM0074',
'DIM0075',
'DIM0076',
'DIM0077',
'DIM0078',
'DIM0079',
'DIM0080',
'DIM0081',
'DIM0082',
'DIM0425',
'DIM0614',
'DIM0811',
'DIM0826',
'DIM0838',
'DIM0859',
'DIM1002',
'DIM1003',
'DIM1004',
'DIM1005',
'DIM1006',
'DIM1007',
'DIM1008',
'DIM1009',
'DIM1010',
'DIM1011',
'DIM1012',
'DIM1013',
'DIM1014',
'DIM1015',
'DIM1628',
'DIM1631',
'DIM1632',
'DIM1634',
'DIM1635',
'DIM1636',
'DIM1637',
'DIM1639',
'DIM1641',
'DIM1642',
'DIM1643',
'DIM1644',
'DIM1645',
'DIM1674',
'DIM1701',
'DIM1702',
'DIM1703',
'DIM1704',
'DIM1705',
'DIM1706',
'DIM1707',
'DIM1708',
'DIM1709',
'DIM1710',
'DIM1711',
'DIM1712',
'DIM1713',
'DIM1714',
'DIM1715',
'DIM1716',
'DIM1717',
'DIM1718',
'DIM1719',
'DIM1720',
'DIM1721',
'DIM1722',
'DIM1723',
'DIM1724',
'DIM1725',
'DIM1726',
'DIM1727'
]]
subset_df

,DIM0001,DIM0004,DIM0005,DIM0006,DIM0007,DIM0008,DIM0009,DIM0010,DIM0011,DIM0012,...,DIM1718,DIM1719,DIM1720,DIM1721,DIM1722,DIM1723,DIM1724,DIM1725,DIM1726,DIM1727
0,2731571.0,1179057.0,1112929.0,4334.0,630.20,398135.0,340270.0,1229555.0,336670.0,426945.0,...,36000.0,166405.0,27315.0,279675.0,48700.0,686245.0,433620.0,43840.0,18815.0,23560.0
1,29113.0,9371.0,9120.0,3929.0,7.41,3840.0,3705.0,11305.0,4230.0,6045.0,...,295.0,735.0,215.0,2550.0,570.0,4240.0,3090.0,215.0,105.0,85.0
2,23757.0,8535.0,8136.0,3034.0,7.83,3075.0,3360.0,9965.0,3265.0,4105.0,...,285.0,920.0,175.0,2340.0,485.0,4615.0,3270.0,215.0,120.0,85.0
3,12054.0,4732.0,4616.0,2435.0,4.95,1760.0,1235.0,5220.0,1825.0,2015.0,...,220.0,390.0,230.0,1735.0,195.0,1980.0,1415.0,105.0,45.0,25.0
4,30526.0,18109.0,15934.0,10863.0,2.81,2360.0,3750.0,15040.0,3480.0,5910.0,...,175.0,3930.0,185.0,2005.0,385.0,12640.0,6855.0,670.0,330.0,870.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,14349.0,6185.0,5887.0,8541.0,1.68,1860.0,1320.0,6420.0,1595.0,3150.0,...,145.0,1135.0,140.0,1345.0,270.0,4000.0,2285.0,290.0,55.0,230.0
137,11817.0,6103.0,5676.0,7162.0,1.65,1800.0,1225.0,5860.0,1325.0,1600.0,...,95.0,1505.0,70.0,935.0,195.0,5070.0,2875.0,290.0,140.0,250.0
138,12528.0,7475.0,7012.0,10708.0,1.17,1210.0,920.0,5960.0,1540.0,2905.0,...,130.0,1600.0,80.0,975.0,195.0,4980.0,2785.0,290.0,130.0,180.0
139,27593.0,11051.0,10170.0,2086.0,13.23,4045.0,4750.0,12290.0,2965.0,3530.0,...,585.0,935.0,345.0,2915.0,610.0,4625.0,3135.0,305.0,95.0,155.0
140,14804.0,5847.0,5344.0,2451.0,6.04,1960.0,1870.0,5860.0,1810.0,3295.0,...,285.0,385.0,195.0,1525.0,260.0,1930.0,1240.0,180.0,55.0,80.0