In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import geopandas as gpd
import seaborn as sns
import os
import numpy as np

In [2]:
from shapely.geometry import Point, Polygon

In [3]:
sns.set(style="darkgrid")

In [4]:
filepath = os.path.join("Resources", "data.csv")
data = pd.read_csv(filepath)
data.head()

                       neighbourhood
0  Waterfront Communities-The Island
1                   Newtonbrook East
2            York University Heights
3                        Dorset Park
4                Englemount-lawrence

In [5]:
nb = os.path.join('Resources', 'Neighbourhoods', "Neighbourhoods.shp")
regions = gpd.read_file(nb)
regions['neighbourhood'] = regions['FIELD_7'].str.replace(' \(.+\)', '').str.lower()
regions.sample(5)

,FIELD_1,FIELD_2,FIELD_3,FIELD_4,FIELD_5,FIELD_6,FIELD_7,FIELD_8,FIELD_9,FIELD_10,FIELD_11,FIELD_12,FIELD_13,FIELD_14,FIELD_15,geometry,neighbourhood
12,2113,25886422,25926674,49885,132,132,Malvern (132),Malvern (132),None,None,-79.222517,43.803658,16491697,1.703227e+07,16744.477311,"POLYGON ((-79.19701 43.79652, -79.19744 43.796...",malvern
112,2213,25886733,25926774,49885,5,5,Elms-Old Rexdale (5),Elms-Old Rexdale (5),None,None,-79.548983,43.721519,16493297,5.616463e+06,12955.634989,"POLYGON ((-79.55512 43.71510, -79.55569 43.716...",elms-old rexdale
13,2114,25886697,25926675,49885,29,29,Maple Leaf (29),Maple Leaf (29),None,None,-79.480758,43.715574,16491713,4.839830e+06,8828.133556,"POLYGON ((-79.49249 43.72010, -79.49185 43.720...",maple leaf
46,2147,25886704,25926708,49885,28,28,Rustic (28),Rustic (28),None,None,-79.498091,43.711609,16492241,4.015390e+06,8151.876888,"POLYGON ((-79.50384 43.70288, -79.50425 43.704...",rustic
36,2137,25886360,25926698,49885,67,67,Playter Estates-Danforth (67),Playter Estates-Danforth (67),None,None,-79.354887,43.679700,16492081,1.698163e+06,6222.909745,"POLYGON ((-79.36339 43.67532, -79.36347 43.675...",playter estates-danforth

In [6]:
regions.to_csv('Resources/regions.csv')

In [7]:
starbucks_df = pd.read_csv('Resources/Starbucks locations.csv')
starbucks_df.head()

             ID        Lat       Long
0  75921-104040  43.086574 -79.059356
1   3997-146205  43.077276 -79.082792
2   75525-35359  43.078906 -79.081879
3   75633-86381  43.079703 -79.082204
4   75790-96396  43.082189 -79.082469

In [8]:
# Test - Will delete this cell later
regions['geometry']

0      POLYGON ((-79.43592 43.68015, -79.43492 43.680...
1      POLYGON ((-79.41096 43.70408, -79.40962 43.704...
2      POLYGON ((-79.39119 43.68108, -79.39141 43.680...
3      POLYGON ((-79.50529 43.75987, -79.50488 43.759...
4      POLYGON ((-79.43969 43.70561, -79.44011 43.705...
                             ...
135    POLYGON ((-79.24549 43.73060, -79.24555 43.730...
136    POLYGON ((-79.40401 43.64719, -79.40419 43.647...
137    POLYGON ((-79.55236 43.70947, -79.55229 43.709...
138    POLYGON ((-79.51703 43.64611, -79.51717 43.646...
139    POLYGON ((-79.28857 43.79607, -79.28921 43.795...
Name: geometry, Length: 140, dtype: geometry

In [9]:
# Test - Will delete this cell later
regions.loc[0, 'geometry']

In [10]:
# Create a set of starbucks locations lat and lng combinations
lng_lats = []

lngs = starbucks_df['Long']
lats = starbucks_df['Lat']

lng_lats = zip(lngs, lats)

neighbourhood_id = []
neighbourhood_name = []
lats_list = []
lngs_list = []

for lng_lat in lng_lats:
    point = Point(lng_lat[0], lng_lat[1])
    
    for i in np.arange(len(regions)):
        poly = regions.loc[i, 'geometry']
        
        if point.within(poly):
            neighbourhood_id.append(regions.loc[i, 'FIELD_6'])
            neighbourhood_name.append(regions.loc[i, 'neighbourhood'])
            lats_list.append(lng_lat[1])
            lngs_list.append(lng_lat[0])

In [11]:
starbucks_dict = {
    'Lat' : lats_list,
    'Long' : lngs_list,
    'Hood ID' : neighbourhood_id,
    'Neighbourhood' : neighbourhood_name
}

clean_starbucks = pd.DataFrame(starbucks_dict)

clean_starbucks

           Lat       Long  Hood ID            Neighbourhood
0    43.797471 -79.148805      131                    rouge
1    43.743753 -79.216334      139      scarborough village
2    43.770374 -79.186485      136                west hill
3    43.816306 -79.293317      130                 milliken
4    43.776324 -79.259292      127                  bendale
..         ...        ...      ...                      ...
173  43.766139 -79.476335       27  york university heights
174  43.726773 -79.451830       31       yorkdale-glen park
175  43.757568 -79.465829       27  york university heights
176  43.725807 -79.450222       31       yorkdale-glen park
177  43.733168 -79.452208       33             clanton park

[178 rows x 4 columns]

In [12]:
clean_starbucks['Neighbourhood'].value_counts()

bay street corridor                  26
waterfront communities-the island    19
islington-city centre west            8
church-yonge corridor                 8
annex                                 7
                                     ..
greenwood-coxwell                     1
scarborough village                   1
runnymede-bloor west village          1
kingsway south                        1
forest hill north                     1
Name: Neighbourhood, Length: 72, dtype: int64